@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

.container {
    @apply max-w-[1240px] mx-auto;

    @screen md {
        padding-left: 20px;
        padding-right: 20px;
    }
}

h1 {
    @apply text-brown-950 text-44
}

.benefits-container {
    @apply max-w-[1290px] mx-auto
}

.benefits-container h4 {
    @apply my-2 text-2xl font-bold text-brown-950 font-redhat;
}

.benefits-container p {
    @apply font-medium text-brown-950 font-redhat;
}

.benefits-container span {
    @apply bg-brown-950 text-brown-150 rounded-md p-3
}

.benefits-container i {
    @apply bg-brown-950 text-brown-150 rounded-md text-2xl p-3
}